---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca de">
    <h1>Acerca de</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, delectus. Dicta harum necessitatibus saepe eligendi repellendus consequuntur vitae itaque eum rem delectus. Amet ad ab ipsa ducimus dolore, eligendi in.</p>
</Layout>

